#reportScreen {
    border: 10px double black;
    margin-left: 25%;
    margin-right: 25%;
}

body {
    text-align: center;
}

#answer1 {
    width: 90%;
    height:5em;
}

#answer2 {
    width: 90%;
    height:5em;
}

#answer3 {
    width: 90%;
    height:5em;
}

#answer4 {
    width: 90%;
    height:5em;
}

#answer5 {
    width: 90%;
    height:5em;
}

#answer6 {
    width: 90%;
    height:5em;
}

#answer7 {
    width: 90%;
    height:5em;
}
